// Body
$body-bg: #f8fafc;
$primary-color: #38AAC4;
$active-primary-color: #07485E;
$gray-color: #e7e7e7; 

// Typography
$font-family-sans-serif: Glacial-Regular;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
